<nav>
  <ul class="nav nav-pills pull-right">
    {{#link-to 'income' tagName='li'}}
      <a href='#'>Income</a>
    {{/link-to}}
    {{#link-to 'outcome' tagName='li'}}
      <a href='#'>Outcome</a>
    {{/link-to}}
  </ul>
</nav>
